html, body
{
  margin: 0;
  padding: 0;
}

body
{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  background-color: gray;
  margin-bottom: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(gray), to(#ccc));
  background: -moz-linear-gradient(top,  gray,  #ccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#cccccc');
}

.container
{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.section
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  behavior: url(border-radius.htc);
  text-align: left;
  background-color: white;
  color: black;
  padding: 5px 10px;
  margin: 20px 0;
}

.section p
{
  color: gray;
  font-size: 90%;
}

.section ol
{
  color: #333333;
  font-size: 90%;
}

pre
{
  background-color: black;
  color: white;
  font-family: monospace;
  display: block;
  padding: 10px 0px;
}

.footer
{
  color: #333333;
  font-size: 80%;
}

/* taken from: http://users.tkk.fi/tkarvine/pre-wrap-css3-mozilla-opera-ie.html */
/* Copyright 2004-09-12 Tero Karvinen www.iki.fi/karvinen. GNU Free Documentation License */
/* Browser specific (not valid) styles to make preformatted text wrap */
pre { 
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
